<ion-header>
  <ion-toolbar>
    <ion-title>更新 / 删除物品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- 搜索区域 -->
  <ion-item>
    <ion-input [(ngModel)]="itemName" placeholder="输入物品名称"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="searchByName()">搜索</ion-button>

  <!-- 表单区域：仅在 item 存在时显示 -->
  <div *ngIf="item">

    <ion-item>
      <ion-label position="stacked">名称</ion-label>
      <ion-input [(ngModel)]="item.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">分类</ion-label>
      <ion-select [(ngModel)]="item.category">
        <ion-select-option value="Electronics">Electronics</ion-select-option>
        <ion-select-option value="Furniture">Furniture</ion-select-option>
        <ion-select-option value="Clothing">Clothing</ion-select-option>
        <ion-select-option value="Tools">Tools</ion-select-option>
        <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">数量</ion-label>
      <ion-input type="number" [(ngModel)]="item.quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">价格</ion-label>
      <ion-input type="number" [(ngModel)]="item.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">供货商</ion-label>
      <ion-input [(ngModel)]="item.supplier"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">库存状态</ion-label>
      <ion-select [(ngModel)]="item.stockStatus">
        <ion-select-option value="In Stock">In Stock</ion-select-option>
        <ion-select-option value="Low Stock">Low Stock</ion-select-option>
        <ion-select-option value="Out of Stock">Out of Stock</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">是否推荐</ion-label>
      <ion-toggle [(ngModel)]="item.featured"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">备注</ion-label>
      <ion-textarea [(ngModel)]="item.specialNote"></ion-textarea>
    </ion-item>

    <!-- 操作按钮 -->
    <ion-button expand="block" color="primary" (click)="updateItem()">更新</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteItem()">删除</ion-button>

  </div>

</ion-content>
