<ion-header>
  <ion-toolbar>
    <ion-title>隐私与安全政策</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>数据隐私说明</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>我们重视您的数据隐私，所有信息仅用于库存管理。</p>
      <p>不会收集或共享任何用户敏感信息。</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>安全措施</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>所有数据传输都经过加密。</li>
        <li>更新与删除操作提供确认提示。</li>
        <li>系统定期清理无效数据。</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
