<ion-tabs>
  <ion-router-outlet></ion-router-outlet> <!-- 确保这里有 ion-router-outlet -->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list" [routerLink]="['/tabs/list']">
      <ion-icon name="list"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="update" [routerLink]="['/tabs/update']">
      <ion-icon name="create"></ion-icon>
      <ion-label>Update</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" [routerLink]="['/tabs/add']">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="privacy" [routerLink]="['/tabs/privacy']">
      <ion-icon name="lock-closed"></ion-icon>
      <ion-label>Privacy</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
