<ion-tabs>
  <!-- 标签栏 -->
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="list">
      <ion-icon name="list" class="tab-icon"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="add">
      <ion-icon name="add" class="tab-icon"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="update">
      <ion-icon name="create" class="tab-icon"></ion-icon>
      <ion-label>Update</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="privacy">
      <ion-icon name="lock-closed" class="tab-icon"></ion-icon>
      <ion-label>Privacy&Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
