<!-- src/app/tabs/tabs.page.html -->
<ion-tabs>
  <!-- 标签栏 -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list">
      <ion-icon name="list"></ion-icon>
      <ion-label>列表</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="add">
      <ion-icon name="add"></ion-icon>
      <ion-label>添加</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="update">
      <ion-icon name="create"></ion-icon>
      <ion-label>更新</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="privacy">
      <ion-icon name="lock-closed"></ion-icon>
      <ion-label>隐私</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>